{% extends 'base.html' %}
{% block conteudo %}
  <h2>Novo Produto</h2>
  <form method="post">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="preco" class="form-label">Preço:</label>
      <input type="number" name="preco" step="0.01" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="estoque" class="form-label">Estoque:</label>
      <input type="number" name="estoque" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
{% endblock %}